[Desktop Entry]
Name=Sysprof
Comment=a sampling CPU profiler
Exec=sysprof
Icon=sysprof
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Profiling;
X-KDE-SubstituteUID=true
OnlyShowIn=KDE
